img {
    width: 450px;
    height: 450px;
}
.first {
    color: rgb(80, 168, 139);
}
.elf {
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, inset 5px 50px 10px 4px rgba(116,115,117,0); 
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, inset 5px 50px 10px 4px rgba(116,115,117,0);
}