*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;;
    background: url("Без названия.png");
    background-size: cover;
}
.header {
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-itemn {
    list-style-type: none;
    margin: 0 15px;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo, .header-menu {
    margin-top: 40px;
}
a {
    color: whitesmoke;
}
.menu-list {
    display: flex;
}
.header-intro {
    margin-left: 400px ;
    margin-top: 257px;
    font-size: 40;
}
.welcome {
    margin-top: 37px;
}
button {
    width: 175px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    margin-top: 50px;
    color: whitesmoke;
}
